.assets-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  background: white;
  border-bottom: 1px solid #eee;
}

.assets-item .assets-item-title {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 20%;
  min-width: 20%;
}

.assets-item .assets-item-avatar {
  width: 13px;
  min-width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 8px;
}

.assets-item .assets-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  transition: 0.3s ease;
}

.assets-item .assets-item-graph {
  height: 45px;
}

.assets-item .assets-item-details .assets-item-details-price {
  color: green;
}

.assets-item .assets-item-details .assets-item-details-cap {
  color: #8a8a8a;
  font-weight: 300;
}

.asset-item-details-price-flash {
  background-color: yellow;
}
